/* RESET */
html, body, #root {
  height: 100%;
  margin: 0;
  background: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #0f172a;
  /* color: #e5e7eb; better for dark theme */
  line-height: 1.6;
}

/* ROOT LAYOUT */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* APP CONTAINER */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* MAIN CONTENT — THIS FIXES HEIGHT ISSUE */
.content {
  flex: 1;              /* takes remaining height */
  width: 100%;
  padding: 40px 20px;
   background: #0f172a;
}

/* PUBLIC PAGES (login/register/home without sidebar) */
.public-content {
  flex: 1;
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

/* HEADINGS */
h1, h2, h3 {
  font-weight: 600;
}

/* FORMS */
.form-container {
  max-width: 420px;
  margin: auto; /* centers vertically now */
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  font-size: 14px;
}

.form-container input:focus {
  outline: none;
  border-color: #2563eb;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.form-container button:hover {
  background: #1d4ed8;
}
